In [6]:
import pandas as pd
import numpy as np
ds = pd.read_csv("../../data/raw/crime.csv",encoding = 'unicode_escape')

In [7]:
def load_and_process(url_or_path_to_csv_file):
    #Method Chain 1 - loading data
    df_0=(pd.read_csv(url_or_path_to_csv_file, encoding='unicode_escape'))
    
    #Method Chain 2 - dropping columns and processing data for df1
    df_1=(df_0
          .drop(columns=['INCIDENT_NUMBER', 'OFFENSE_CODE', 'REPORTING_AREA', 'SHOOTING', 'OCCURRED_ON_DATE' , 'YEAR', 'MONTH', 'DAY_OF_WEEK', 'HOUR', 'UCR_PART', 'Lat', 'Long'])
          .replace(np.nan, 'N', regex=True)
          .dropna()
         )
    #Ensure it returns to the lastest dataframe
    return df_1

In [8]:
data_1=load_and_process("../../data/raw/crime.csv")
data_1

,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,STREET,Location
0,Larceny,LARCENY ALL OTHERS,D14,LINCOLN ST,"(42.35779134, -71.13937053)"
1,Vandalism,VANDALISM,C11,HECLA ST,"(42.30682138, -71.06030035)"
2,Towed,TOWED MOTOR VEHICLE,D4,CAZENOVE ST,"(42.34658879, -71.07242943)"
3,Investigate Property,INVESTIGATE PROPERTY,D4,NEWCOMB ST,"(42.33418175, -71.07866441)"
4,Investigate Property,INVESTIGATE PROPERTY,B3,DELHI ST,"(42.27536542, -71.09036101)"
...,...,...,...,...,...
319068,Warrant Arrests,WARRANT ARREST,D4,COVENTRY ST,"(42.33695098, -71.08574813)"
319069,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,RIVER ST,"(42.25592648, -71.12317207)"
319070,Warrant Arrests,WARRANT ARREST,E18,RIVER ST,"(42.25592648, -71.12317207)"
319071,Warrant Arrests,WARRANT ARREST,E13,NEW WASHINGTON ST,"(42.30233307, -71.11156487)"
319072,Warrant Arrests,WARRANT ARREST,D4,WASHINGTON ST,"(42.33383935, -71.08029038)"

In [9]:
def load_and_process(url_or_path_to_csv_file):
    #Method Chain 1 - loading data
    df_0=(pd.read_csv(url_or_path_to_csv_file, encoding='unicode_escape'))
    
    #Method Chain 2 - dropping columns and processing data for df2
    df_2=(df_0
          .drop(columns=['INCIDENT_NUMBER', 'OFFENSE_CODE', 'REPORTING_AREA', 'SHOOTING', 'OCCURRED_ON_DATE', 'UCR_PART', 'Lat', 'Long', 'Location', 'STREET', 'DISTRICT'])
          .replace(np.nan, 'N', regex=True)
          .dropna()
         )
    #Ensure it returns to the lastest dataframe
    return df_2

In [10]:
data_2=load_and_process("../../data/raw/crime.csv")
data_2

,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,YEAR,MONTH,DAY_OF_WEEK,HOUR
0,Larceny,LARCENY ALL OTHERS,2018,9,Sunday,13
1,Vandalism,VANDALISM,2018,8,Tuesday,0
2,Towed,TOWED MOTOR VEHICLE,2018,9,Monday,19
3,Investigate Property,INVESTIGATE PROPERTY,2018,9,Monday,21
4,Investigate Property,INVESTIGATE PROPERTY,2018,9,Monday,21
...,...,...,...,...,...,...
319068,Warrant Arrests,WARRANT ARREST,2016,6,Sunday,17
319069,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",2015,7,Thursday,13
319070,Warrant Arrests,WARRANT ARREST,2015,7,Thursday,13
319071,Warrant Arrests,WARRANT ARREST,2016,5,Tuesday,19
319072,Warrant Arrests,WARRANT ARREST,2015,6,Monday,0